.krepko{
    font-weight: bold;
}

.sredinsko{
    text-align: center;
    margin: 0 auto;
}

.vabilo{
    color: black;
    font-weight: bold;
    font-family: Arial;
    font-size: large;
}
body{
    padding-bottom: 15px;
}
